{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>

<div class="row">
    <div class="col-sm-6">
         <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                             class="bi bi-tools" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                        </svg>
                        &nbsp;
                        <span class="ml-2 h1">งานที่ได้รับหมอบหมาย</span>
    </div>
<div class="col-sm-6" align="right">

 <a href="{% url 'pdfassignmentReport' %}" class="btn  btn-danger "><i class="fa fa-plus"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
</svg> Print </a>
</div>
<p>
    <table class="table table-primary table-striped">
        <tr class="bg-white text-primary text-center">
            <th class="col col-1">รหัสการหมอบหมายงาน</th>
             <th class="col col-1">รหัสช่าง</th>
            <th class="col col-1">ขื่อช่าง</th>
            <th class="col col-1">รหัสงาน</th>
            <th class="col col-2">รายละเอียดงาน </th>
            <th class="col col-1">วันที่ </th>
            <th class="col col-1">สถานะ </th>
             <th class="col col-2">จัดการข้อมูล</th>
        </tr>

    {% for assignment in assignment %}
        <tr>
            <td class="text-center">{{ assignment.agid }}</td>
            <td class="text-center">{{ assignment.member.mid }}</td>
            <td class="text-center">{{ assignment.member.name }}</td>
            <td class="text-center">{{ assignment.getjop.gid  }}</td>
            <td class="text-center">{{ assignment.getjop.details }}</td>
            <td class="text-center">{{ assignment.date }}</td>
              <td class="text-center">
                {% if assignment.status == '1' %}
                    <button class="btn btn-sm  btn-warning disabled"><i class="fa-regular fa-hourglass-half"></i>
                        {{ assignment.getStatus }}</button>
                {% elif assignment.status == '2' %}
                    <button class="btn btn-sm  btn-success disabled"><i class="fa-regular fa-hourglass-half"></i>
                        {{ assignment.getStatus }}</button>

                 {% endif %}
            </td>
            <td class="text-lg-center">
                 <a href="{% url 'assignmentOneshow' assignment.agid %}" class="btn btn-primary">ดูงานที่ได้รับ</a>
            </td>
        </tr>
    {% endfor %}
    </table>



    <br><br><br>
{% endblock %}