{% load static %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'stylesheets/bt502/css/bootstrap.css' %}">
    <script src="{% static 'stylesheets/bt502/js/bootstrap.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'stylesheets/layout/scripts/jquery.min.js'%}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>ตัวอย่างรายงานภาษาไทย</title>
</head>
<body>
<center>
        <h1 >ร้านรอนานการช่าง</h1>
    <h1 >ข้อมูลการหมอบหมายงาน</h1>
</center>
   <table class="table table-primary table-striped">
        <tr class="bg-white text-primary text-center">
            <th class="col col-1">รหัสการหมอบหมายงาน</th>
             <th class="col col-1">รหัสช่าง</th>
            <th class="col col-1">ขื่อช่าง</th>
            <th class="col col-1">รหัสงาน</th>
            <th class="col col-3">รายละเอียดงาน </th>
            <th class="col col-1">วันที่ </th>

        </tr>

    {% for assignment in assignment %}
        <tr>
            <td class="text-center">{{ assignment.agid }}</td>
            <td class="text-center">{{ assignment.member.mid }}</td>
            <td class="text-center">{{ assignment.member.name }}</td>
            <td class="text-center">{{ assignment.getjop.gid  }}</td>
            <td class="text-center">{{ assignment.getjop.details }}</td>
            <td class="text-center">{{ assignment.date }}</td>

        </tr>
    {% endfor %}
    </table>
</body>
</html>
